.emails-form {
    width: 540px;
    margin: 30px auto;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);

    .form-title {
        @include h3;
        color: $color-blue-700;
    }

    .emails-section,
    .buttons-section {
        padding: 32px 50px;
    }

    .emails-section {
        padding-bottom: 24px;
        background-color: $color-grey-100;
    }

    .buttons-section {
        padding-top: 24px;

        .button {
            @include regular-text;
            margin-right: 16px;
            padding: 8px 16px;
            color: $white;
            text-align: center;
            background-color: $color-blue-400;
            border: none;
            border-radius: 6px;
        }
    }
}
